<h1>Home</h1>

<% if !logged_in? %>
  <a href="/login"><h2>login</h2></a>
  <a href="/teachers/new"><h2>Signup</h2></a>
<% end %>


 <p>The Worm is a real-time audience sentiment feedback tool for the classroom and other public speaking scenarios.</p>

<img src="http://via.placeholder.com/400x250">

<br>
<br>

<form action="/presentations/check" method="get">
   <label>Received a code to join a presentation?</label>
   <input type="text" name="presentation_id" placeholder="code">
   <button>Join</button>
 </form>

 <br>

<canvas id="chart_test" height="400px" width="600px"></canvas>
