<h1>Home</h1>

 <a href="/login"><h2>Login</h2></a>

 <a href="/new"><h2>Signup</h2></a>

 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero veniam sed, natus consequatur commodi sunt fuga consectetur doloremque, incidunt molestias necessitatibus magni odit illum aliquam sit provident earum ipsam explicabo.</p>

<img src="http://via.placeholder.com/400x250">

<br>
<br>

<form action="/session" method="post">
 
   <label for="">Teacher Code</label>
   <input type="text" name="teachercode" placeholder="code">
 
   <button>Join</button>
 </form> 

 <br>