<h1> Sign Up </h1>

<form action="/signuppage" method="post">
	
		<input name="email" type="text" placeholder="email">
		<br>
		<br>

		<input name="username" type="text" placeholder="username">
		<br>
		<br>
	
		<input name="password" type="password" placeholder="password">

		<button>Sign up</button>
</form>

