<h1> Sign Up </h1>

<form action="/session" method="post">
	
		<input name="email" type="text" placeholder="email">
		<br>
		<br>

		<input name="username" type="text" placeholder="username">
		<br>
		<br>
	
		<input name="password_digest" type="password" placeholder="password">

		<button>Sign up</button>
</form>

<a href="/login"><h2>Already have an account?</h2></a>