<h1>Teacher Dashboard</h1>


	<h4>logout button (placeholder)</h4>
<!-- logout button for real-->


 	<a href="/show"><h2>Create New Worm</h2></a>

	<h2>Previous Worms</h2>

 	<img src="http://via.placeholder.com/400x250">
 	<img src="http://via.placeholder.com/400x250">
 	<img src="http://via.placeholder.com/400x250">
 	<img src="http://via.placeholder.com/400x250">
 	<img src="http://via.placeholder.com/400x250">
 	<img src="http://via.placeholder.com/400x250">
	

