<h1>Teacher Dashboard</h1>


	<h4>logout button (placeholder)</h4>
<!-- logout button for real-->


<p>
  <a href="/presentations/new">create a new presentation</a>
</p>

	<h2>Previous Worms</h2>

 	<img src="http://via.placeholder.com/400x250">
 	<img src="http://via.placeholder.com/400x250">
 	<img src="http://via.placeholder.com/400x250">
 	<img src="http://via.placeholder.com/400x250">
 	<img src="http://via.placeholder.com/400x250">
 	<img src="http://via.placeholder.com/400x250">
