body {
 background-color: ghostwhite;
}

img{
  max-height: 200px
}

.VotesTitle h1 {
    /*padding: 0px 20px 20px 25px;*/
}

.silderTitle {
  text-align: center;
 /*padding: 0px 0px 60px 570px;*/
}

.slidecontainer {
    margin: 0 auto;
    width: 50%; /* Width of the outside container */
    /*margin: 0px 100px 100px 350px;*/
}

@media (max-width: 600px) {
  .slidecontainer {
    width: 100%;
  }
}


/* The slider itself */
.slider {
    -webkit-appearance: none;
    width: 50%;
    height: 30px;
    border-radius: 5px;
    background: grey;
    outline: none;
    opacity: 0.6;
    -webkit-transition: .2s;
    transition: opacity .5s;
}
/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 45px;
    height: 45px;
    border-radius: 80%;
    background: #FE7F01;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 80%;
    background: #FE7F01;
    cursor: pointer;
}

.homebutton {
    background-color: #FE7F01;
    padding: 5px 5px 10px 20px;
    color: white;
    border: 0px solid #FE7F01;
}

a:link, a:visited {
    background-color: white;
    color: #FE7F01;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 1px solid #FE7F01;
    box-shadow: inset 0 0 10px #FE7F01;
}

a:hover, a:active {
    background-color: white;
    color: #FE7F01;
    transition-duration: 0.2s;
    border: 1px solid #FE7F01;
}

.loginSignupButtons a:hover, a:active{
    background-color: white;
    color: white;
    border: 1px solid white;
    transition-duration: 0.2s;
}

.loginSignupButtons {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 50px;
  position: absolute;
  top: 5px;
  right: 20px;
}

.loginSignupButtons h2 {
    padding: 0px 10px 10px 10px;
    color: #FE7F01;
}

button:hover, button:active {
    background-color: #FE7F01;
    color: white;
    border: 1px solid white;
    transition-duration: 0.2s;

}

.wormtitle {
    color: white;
    text-align: center;
}

a {
  color: white;
  margin: 15px 0px 0px 0px;
    background-color: red;
    padding: 5px 12px 5px 10px;
      border: 0px solid white;
       border-radius: 5px;
    font-size: 20px;
        box-shadow: inset 0 0 5px #FE7F01;
        text-decoration: none;
}

button {
    color: grey;
    margin: 0px 0px 0px 0px;
     border: 0px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    box-shadow: inset 0 0 5px #FE7F01;
        background-color: white;
            padding: 5px 10px 5px 10px;

}

input {
    color: #FE7F01;
     border: 1px solid #FE7F01;
    border-radius: 5px;
    box-shadow: inset 0 0 7px #FE7F01;
        background-color: white;
        padding: 5px 10px 5px 10px;

}

.information {
    color: #FE7F01;
    text-align: center;
    clear: right;
}

.main {
    padding: 0px 0px 0px 700px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

h1 {
    text-align: center;
    /*padding: 0px 20px 20px 230px;*/
    color: #FE7F01;
}

h2 {
    color: #FE7F01;
    font-size: 15px
}
.LoggedInInfo {
    padding: 20px 20px 20px 40px;
    text-align: right;
    text-decoration: none;
    /*display: inline-block;*/
    font-size: 14px;
    float: right;
}

.secondmain {
    /*padding: 0% 30% 5% 30%;*/
    text-align: center;
    /*text-decoration: none;*/
    /*display: inline-block;*/
    font-size: 14px;
    margin: 0 auto;
}

.dashboardbutton a {
    font-size: 14px;
}

.presentationbutton a {
    font-size: 30px;
    margin: 50px 50px 40px 460px;
}

.previousworms h2 {
    font-size: 15px;
    text-align: center;
    /*margin: 50px 50px 40px 460px;*/
}

.previouswormsButtons p {
    font-size: 15px;
    color: #FE7F01;
    padding: 5px 12px 5px 10px;
}

.previouswormsButtons {
     margin: 50px 50px 40px 460px;
     padding: 5px 12px 5px 120px;

}

.previouswormsButtons h2 {
     font-size: 15px;
     margin: 20px;
    color: #FE7F01;
}

.previouswormsButtons a {

}

.loginPage h1 {
     /*margin: 50px 550px 40px 280px;*/
 }


.loginPageForm {
    text-align: center;
    margin-top: 20px;
     /*margin: 0px 530px 80px 0px;*/
     /*display: inline-block;*/
 }

.loginPageFormEmail label {
    /*margin: 0px 130px 0px 180px;*/
}

.loginPageFormPassword label {
    /*margin: 0px 100px 0px 200px;*/
}

.loginPageFormEmail input {
    /*margin: 0px 5px 0px 100px;*/
}


.newUserButton {
    text-align: center;
    margin: 20px 0px 20px 0px;
}

span {
color: black;
font-size: 20px;
}

.descriptionOfShow {
    color: #FE7F01;
    padding: 30px 200px 20px 220px;
    text-align: center;

}

.deleteButton {
    display: inline-block;
    padding: 20px 10px 0px 10px;
}


.deleteButton button {
    padding: 12px 16px 9px 16px;
    margin: 10px 0px 0px 10px;
    color: #FE7F01
}

.deleteButton button:hover, button:active {
    background-color: #FE7F01;
    color: white;
    border: 1px solid white;
    transition-duration: 0.2s;

}

.chartShow {
     padding: 0px 0px 0px 150px;
     margin-bottom: 20px;
}

.dashboardbuttonShowPage {
    padding: 0px 30px 30px 30px;
}

.newWorm {
    padding: 0px 50px 50px 300px;

}

.newWorm h2 {
    padding: 0px 0px 0px 220px;
    font-size: 30px;

}

footer {
    margin-top: 80px;
    text-align: center;
}

.voteButton {
  text-align: center;
}

.voteButton button {
    padding: 30px 200px 40px 200px;
    /*margin: 30px 0px 0px 85px;*/
    color: black;
    font-size: 30px;
}

.voteButton p {
    padding: 30px 100px 0px 100px;
    /*margin: 30px 40px 0px 185px;*/
}





